RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]

#http://lolcahost/web/index.php?route=product/product&product_id=47

#http://lolcahost/web/product/47